<?xml version="1.0"?>
<launch>
  <arg name="serial_port" default="/dev/ttyACM0"/>
  <arg name="base_host" default="localhost"/>
  <arg name="rover_host" default="localhost"/>
	<group ns="base">
		<rosparam command="load" file="$(find ublox)/params/ublox.yaml"/>
		<node name="f9p" pkg="ublox" type="ublox_ros">
			<param name="serial_port" value="$(arg serial_port)"/>
 			<param name="local_host" value="$(arg base_host)"/>
			<param name="local_port" value="16140"/>
			<param name="rover_host" value="$(arg rover_host)"/>
			<param name="rover_port" value="16145"/>
		</node> 
	</group>
</launch>
