<?xml version="1.0"?>
<launch>
    <arg name="rover_serial_port" default="/dev/ttyACM0"/>

    <arg name="brover_host"         default="192.168.0.3"/>
    <arg name="brover_port2"        default="16145"/>
    <arg name="rover_host"          default="192.168.2.3"/>
    <arg name="rover_port"          default="16140"/>

    <group ns="rover">
        <node name="f9p" pkg="ublox" type="ublox_ros">
            <param name="serial_port"       value="$(arg rover_serial_port)"/>
            <param name="rover_quantity"    value="0"/>

            <param name="local_host"        value="$(arg rover_host)"/>
            <param name="local_port"        value="$(arg rover_port)"/>
            <param name="base_host"         value="$(arg brover_host)"/>
            <param name="base_port"         value="$(arg brover_port2)"/>
        </node>
    </group>

</launch>