<?xml version="1.0"?>
<launch>
    <arg name="rover1_serial_port" default="/dev/ttyACM0"/>

    <arg name="base_host"           default="192.168.0.3"/>
    <arg name="base_port1"          default="16140"/>
    <arg name="rover1_host"         default="192.168.1.3"/>
    <arg name="rover1_port"         default="16140"/>

    <group ns="rover1">
        <node name="f9p" pkg="ublox" type="ublox_ros">
            <param name="serial_port"       value="$(arg rover1_serial_port)"/>
            <param name="rover_quantity"    value="0"/>

            <param name="local_host"        value="$(arg rover1_host)"/>
            <param name="local_port"        value="$(arg rover1_port)"/>
            <param name="base_host"         value="$(arg base_host)"/>
            <param name="base_port"         value="$(arg base_port1)"/>
        </node>
    </group>

</launch>