<?xml version="1.0"?>

<launch>
    <arg name="base_serial_port"        default="/dev/ttyACM0"/>
    <arg name="rover_serial_port"       default="/dev/ttyACM1"/>
    
    <arg name="base_host"               default="localhost"/>
    <arg name="base_port"				default="16140"/>
    <arg name="rover_host"              default="localhost"/>
    <arg name="rover_port"			    default="16145"/>
	
    <group ns="base">
		<node name="f9p" pkg="ublox" type="ublox_ros">
			<param name="serial_port"       value="$(arg base_serial_port)"/>
			<param name="rover_quantity"    value="1"/>
            <param name="base_type"         value="stationary"/>
            
            <param name="local_host"        value="$(arg base_host)"/>
			<param name="local_port"        value="$(arg base_port)"/>
			<param name="rover_host"        value="$(arg rover_host)"/>
			<param name="rover_port"        value="$(arg rover_port)"/>
			<rosparam command="load"        file="$(find ublox)/params/ublox.yaml"/>
		</node> 
	</group>

	<group ns="rover">
		<node name="f9p" pkg="ublox" type="ublox_ros">
			<param name="serial_port"       value="$(arg rover_serial_port)"/>
			<param name="rover_quantity"    value="0"/>

            <param name="local_host"        value="$(arg rover_host)"/>
			<param name="local_port"        value="$(arg rover_port)"/>
			<param name="base_host"         value="$(arg base_host)"/>
			<param name="base_port"         value="$(arg base_port)"/>
		</node> 
	</group>

</launch>
