<?xml version="1.0"?>
<launch>
  <!--group ns, serial_port, local_port, local_host, base_port, base_host, rover_port
    rover_host, rover_quantity, nav rate, GPS, GLONAS, Beidou, Galileo, stationary
    or moving base or rover, Survey in Time, Survey in Accuracy limit
  -->
  <!--constellation>
    <arg name="GPS" default="1"/>
    <arg name="GLONAS" default="0"/>
    <arg name="BEIDOU" default="0"/>
    <arg name="GALILEO" default="1"/>
    <arg name="Surveytime" default="120"/>
    <arg name="Suveryacc" default="500000"/>
  <constellation/-->

  <group ns="base">
    <node name="f9p" pkg="ublox" type="ublox_ros">
      <param name="serial_port" value="/dev/ttyACM0"/>
      <param name="local_host" value="localhost"/>
      <param name="local_port" value="16140"/>
      <param name="rover_host" value="localhost"/>
      <param name="rover_port" value="16145"/>
      <param name="base_type" value="stationary"/>
      <param name="rover_quantity" value="1"/>
      <param name="GPS" default="1"/>
      <param name="GLONAS" default="0"/>
      <param name="BEIDOU" default="0"/>
      <param name="GALILEO" default="1"/>
      <param name="Surveytime" default="120"/>
      <param name="Suveryacc" default="500000"/>
    <node/>
  <group/>

  <group ns="brover">
    <node name="f9p" pkg="ublox" type="ublox_ros">
      <param name="serial_port" value="/dev/ttyACM1"/>
      <param name="local_host" value="localhost"/>
      <param name="local_port" value="16145"/>
      <param name="local_host2" value="localhost"/>
      <param name="local_port2" value="16155"/>
      <param name="base_host" value="localhost"/>
      <param name="base_port" value="16140"/>
      <param name="rover_host" value="localhost"/>
      <param name="rover_port" value="16150"/>
      <param name="rover_quantity" value="1"/>
      <param name="GPS" default="1"/>
      <param name="GLONAS" default="0"/>
      <param name="BEIDOU" default="0"/>
      <param name="GALILEO" default="1"/>
      <param name="Surveytime" default="120"/>
      <param name="Suveryacc" default="500000"/>
    <node/>
  <group/>

  <group ns="rover">
    <node name="f9p" pkg="ublox" type="ublox_ros">
      <param name="serial_port" value="/dev/ttyACM2"/>
      <param name="chain_level" value="2"/>
      <param name="local_host" value="localhost"/>
      <param name="local_port" value="16150"/>
      <param name="base_host" value="localhost"/>
      <param name="base_port" value="16155"/>
      <param name="rover_quantity" value="0"/>
      <param name="GPS" default="1"/>
      <param name="GLONAS" default="0"/>
      <param name="BEIDOU" default="0"/>
      <param name="GALILEO" default="1"/>
    </node>
  </group>


<launch/>
