<?xml version="1.0"?>
<launch>
	<!-- be sure to check the rover serial port.  The f4 uses one of the ports-->
  <arg name="rover_serial_port" default="/dev/ttyACM1"/>
  <arg name="base_host" default="192.168.1.121"/>
  <arg name="rover_host" default="192.168.1.102"/>

	<group ns = "rover">

		<node name="f9p" pkg="ublox" type="ublox_ros">
			<param name="serial_port" value="$(arg rover_serial_port)"/>
 			<param name="local_host" value="$(arg rover_host)"/>
			<param name="local_port" value="16145"/>
			<param name="rover_host" value="$(arg base_host)"/>
			<param name="rover_port" value="16140"/>
			<rosparam command="load" file="$(find ublox)/params/ublox.yaml"/>
			<param name="chain_level" value="1"/>
			<param name="rover_quantity" value="0"/>
		</node>

		<node pkg="rosbag" type="record" name="record" output="screen" args="-o ../data/rtk_tests/rover -- all"/

	</group>

</launch>
